<ol class="cards">
{% for site in sites %}
    {% if 'posts/' in site.url.pathname %}
        <li class="card card--type-1">
            <a class="card__header" href="{{site.url}}">{{site.title}}</a>
            <details class="card__content">{{site.html|striptags}}</details>
        </li>
    {% endif %}
{% endfor %}
</ol>