<header>
	<section id="faces" class="header masthead triangle">
		<div class="header__meta">
			{% include "./_linkouts.twig" %}
		</div>
		<h1 class="typing">{{title}}</h1>
		<a rel="home" class="u-url" href="{{base_url}}">Home</a>
	</section>
</header>
