<a rel="me" href="https://www.twitter.com/andi1984" target="_blank">Twitter</a>
<a rel="me" href="https://www.twitch.tv/andi1984" target="_blank">Twitch</a>
<a rel="me" href="https://www.youtube.com/channel/UC9yhSlXfpjleDuJV1AGViIg" target="_blank">YouTube</a>
<a rel="me" href="https://www.linkedin.com/in/sanderandreas/" target="_blank">Linkedin</a>
<a rel="me" href="https://social.saarland/@andi1984" target="_blank">Mastodon (private)</a>
<a rel="me" href="https://toot.cafe/@andi1984">Mastodon (webdev stuff)</a>
