<a rel="me" href="https://www.twitch.tv/andi1984" target="_blank">Twitch</a>
<a rel="me" href="https://www.youtube.com/channel/UC9yhSlXfpjleDuJV1AGViIg" target="_blank">YouTube</a>
<a rel="me" href="https://www.linkedin.com/in/sanderandreas/" target="_blank">Linkedin</a>
