<ol class="list list--big">
{% for site in sites %}
    {% if 'notes/' in site.url.pathname %}
        <li class="list__item">
            <a href="{{site.url}}">{{site.title}}</a>
        </li>
    {% endif %}
{% endfor %}
</ol>