@import "./vars.css";

@font-face {
  font-family: "etc-grandstander";

  src: url(../ETCGrandstanderVariable.woff2) format("woff2-variations"),
    url(../ETCGrandstander-Medium.woff2) format("woff2");

  font-display: swap;

  font-weight: 100 900;

  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: etc-grandstander, sans-serif;
  color: var(--color-light-headings);
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-dark-headings);
  }
}
