@import "./vars.css";

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-gap: 2rem;
}

.card {
  background-color: var(--color-light-card-bg);
  color: var(--color-light-card);
  padding: 2rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*
 Inerhit colors for links from the card context.
*/
.card a {
  color: currentColor;
  background-color: inherit;
}

@media (prefers-color-scheme: dark) {
  .card {
    color: var(--color-dark-card);
    background-color: var(--color-dark-card-bg);
  }
}

/* Source: https://codepen.io/sdthornton/pen/wBZdXq */
.card--type-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card--type-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card--type-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card--type-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card--type-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card--type-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
