/* https://colorpalettes.net/color-palette-4102/ */
:root {
  --cape-cod: #394545;
  --gray-chateau: #aab1b3;
  --ebb: #e9e5e3;
  --muddy-waters: #c09e72;
  --paarl: #9e6228;
  --nile-blue: #1a535c;
  --puerto-rico: #4ecdc4;
  --sugar-cane: #f7fff7;
  --bittersweet: #ff6b6b;
  --kournikova: #ffe66d;
}
