@font-face {
  font-family: "etc-grandstander";

  src: url(ETCGrandstanderVariable.woff2) format("woff2-variations"),
    url(ETCGrandstander-Medium.woff2) format("woff2");

  font-display: swap;

  font-weight: 100 200;

  text-rendering: optimizeLegibility;
}

* {
  font-family: etc-grandstander, sans-serif;
}