html,
body {
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .flex-wrapper {
    flex-direction: row;
    align-items: space-between
  }
}

main {
  margin-left: 8px;
  margin-right: 8px;
}

aside:empty {
  display: none;
}

@media (min-width: 800px) {
  main {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;
  }
  aside {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
  }
}

img {
  width: auto;
  max-width: 100%;
}

@import './colors.css';
@import './theme/index.css';
@import './typo/index.css';
@import './links/index.css';
@import './list/index.css';
@import './cards/index.css';
@import './header/index.css';
@import './post/index.css';
@import './prism.css';

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* https://codepen.io/harmputman/pen/IpAnb */
.blockquote--landing {
  position: relative;
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 0 auto;
  max-width: 85vw;
}

blockquote.blockquote--landing:after {
  content: '\2013 \2003'attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

@media (min-width: 800px) {
  .blockquote--landing {
    max-width: 60vw;
  }
}
