@import './vars.css';

a {
  display: inline;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-light-link);
  box-shadow: inset 0 -4px 0 var(--background-light-link);
  transition: background 0.1s ease-in-out;
}

a:hover,
a:active {
  background-color: var(--background-light-link);
}

@media (prefers-color-scheme: dark) {
  a,
  a:visited {
    color: var(--color-dark-link);
    box-shadow: inset 0 -4px 0 var(--background-dark-link);
  }

  a:hover,
  a:active {
    background-color: var(--background-dark-link);
  }
}

.link--devto {
  flex: 0 1 auto;
  display: inline-block;
  background-color: none;
  box-shadow: none;
  border-bottom: 1px solid var(--background-dark-link);
}

@media (prefers-color-scheme: dark) {
  .link--devto {
    border-bottom-color: var(--background-light-link);
  }
}

.link--devto img {
  width: 30px;
  vertical-align: middle;
}
