{% extends "../main.twig" %}

{% block after_content %}
<footer>
    <ol>
        <li>Footer entry #1</li>
        <li>Footer entry #2</li>
        <li>Footer entry #3</li>
    </ol>
</footer>
{% endblock %}