<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/assets/bundle.css"></link>
        <script type="text/javascript" src="/assets/bundle.js"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>