{% extends "./base.twig" %}

{% block body %}
<main>
    <h1>{{title}}</h1>
    {{content}}
    <h2>Blogposts</h2>
    {% include "partials/_blogposts.twig" %}
    <h2>Notes</h2>
    {% include "partials/_notes.twig" %}
</main>
{% endblock %}