{% extends "./main.twig" %}

{% block main_content %}
    {{content}}
    <h2>Blogposts</h2>
    {% include "partials/_blogposts.twig" %}
    <h2>Notes</h2>
    {% include "partials/_notes.twig" %}
{% endblock %}