{% extends "./main.twig" %}
{% block pre_content %}
	<section id="quote"></section>
{% endblock %}

{% block main_content %}
	{{content}}
	<section>
		<h2>Blogposts</h2>
		{% include "partials/_blogposts.twig" %}
	</section>
	<section>
		<h2>Notes</h2>
		{% include "partials/_notes.twig" %}
	</section>
{% endblock %}

{% block aside_content %}
	<section id="rss"></section>
{% endblock %}
