{% extends "./base.twig" %}

{% block head %}
	{{ parent() }}
	{% block head_content %}{% endblock %}
{% endblock %}

{% block body %}
	{% include "partials/_header.twig" %}
	{% block pre_content %}{% endblock %}
	<div class="flex-wrapper">
		<main>
			{% block main_content %}
				{{content}}
			{% endblock %}
		</main>
		<aside>
			{% block aside_content %}{% endblock %}
		</aside>
	</div>
	{% include "partials/_footer.twig" %}
{% endblock %}
